@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}
.homepage .contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    gap: 30px;
    align-content: center;
    padding: 40px 40px;
}
.homepage .contain .left h1{
    font-weight: 700;
    font-size: 70px;
    margin-top: 70px;
    line-height: 75px;
}
.homepage .contain .left p{
    margin-top: 10px;
    font-weight: 400;
    font-size: 22px;
    line-height: 38.64px;
    color: #4C4C4C;
}
.homepage .contain .left .button button{
    margin-top: 70px;
    gap: 10px;
    background-color: #4CAF50;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color: #009444;
}
.homepage .contain .left .button{
    display: flex;
    flex-direction: row;
    gap: 13%;
}
.homepage .contain .left .button .learn{
    margin-top: 70px;
    gap: 10px;
    background-color: white;
    padding: 10px 30px;
    border: 1px solid #000000CC;
    border-radius: 10px;
    color: #808080;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF470C;
    gap: 10px;
}
.homepage .categories{
    padding: 50px 98px 50px 98px;
    background: #F8FFFB;
}
.homepage .categories .top-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-text{
    margin-top: 15px;
    font-size: 15px;
}
.category{
    gap: 20px;
}
.category .box{
    width:187.55px;
    height: 199.71px;
    background-color: #FFFFFF;
    border: 0.5px solid #E6E6E6;
    border-radius: 8px;
    gap: 15px;
    padding: 15px 0px 22.5px 0px;
    display: block;
    align-content: center;
    text-align: center;
    font-weight: 500;
    color: black;
}
.category .box-1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.category{
    margin-top: 20px;
}
.box:hover{
    background: white;
    color: #009444;
    border-color: #009444;
    transform: scale(1.05);
    box-shadow: 0 1px 3px rgba(0, 148, 68, 1);
}
.box {
    border: 0.5px solid #ccc;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}
.box.clicked {
    background-color: white;
    color: #009444;
    transform: scale(1.05);
    border-color: #009444;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.06);
}
.foodBox {
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}
.foodBox.clicked {
    background-color: white;
    color: #009444;
    transform: scale(1.05);
    /* border-color: #009444; */
    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.06);
}
.foodBox.clicked p{
    color: #009444;
}
.homepage .products {
    margin: auto;
    width: 1310px ;
    height: 800px auto;
    border: none;
    border-radius: 20px;
    padding: 40px;
    background: #009444;
    margin-top: 50px;
}
.homepage .products .top-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
.products .bottom-text{
    margin-top: 10px;
    font-size: 15px;
    color: white;
}
.view2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
}
.homepage .products .wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}
.homepage .products .wrapper .product-box{
    width: 292px;
    height: 320px;
    padding: 12px 12px ;
    border: none;
    border-radius: 10px;
    background: white;
    overflow: hidden;
}
.homepage .products .wrapper .product-box .img-box {
    display: flex;
}
.homepage .products .wrapper .product-box .img-box img{
    width: 268px;
    height: 148px;
    object-fit: cover;
}
.homepage .products .wrapper .product-box .img-box .icon{
    display: flex;
    justify-content: center;
    margin-left: 0%;
    margin-left: 7%;
    margin-top: 10px;
    transition: 0.5s;
}
.homepage .products .wrapper .product-box:hover .img-box .icon{
    margin-left: -14%;
}
.homepage .products .wrapper .product-box .img-box .icon .icon-circle{
    font-size: 20px;
    width: 40px;
    height: 40px;
    padding: 8px 10px ;
    margin-top: 5px;
    border-radius: 50%;
    z-index: 1;
    color: #009444;
    transition: 0.5s;
    cursor: pointer;
    position:relative;
    bottom: -80%;
}
.homepage .products .wrapper .product-box .img-box .icon .icon-circle:hover{
    color: #017437;
}
.money{
    color: #999999;
    text-decoration: line-through;
    margin-left: 2px;
}
.homepage .products .wrapper .product-box .first{
    color: #4D4D4D;
    font-size: 14px;
    line-height: 21px;
}
.homepage .products .wrapper .product-box .info{
    margin-top: 19px;
}
.price{
    margin-bottom: 5px;
}
.cart{
    width: 268px;
    height: 40px;
    /* padding: 9.87px; */
    border: 2px solid #009444;
    border-radius: 9.87px;
    color: #009444;
    background: white;
    font-weight: 600;
    font-size: 18px;
    margin-top: 12px;
}
.cart:hover{
    background: #009444;
    color: white;
}
.homepage .news{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: auto;
}
.homepage .news h2{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    /* margin-bottom: 10px; */
}
.homepage .news {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4C4C4C;
}
.homepage .news .foods .food-box{
    width: 398.3px;
    height: 470px; 
}
.homepage .news .foods .food-box .des{
    padding: 22px;
    display: flex;
    flex-direction: column;
}
.homepage .news .foods .food-box .des p{
    margin-top: 10px;
    text-align: left;
    font-weight: 500;
}
.homepage .news .foods .food-box{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 30px;
}
.homepage .news .foods .food-box .icons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 16px;
    line-height: 19px;
}
.homepage .news .foods .food-box .icons span{
    color: #666666;
    font-size: 16px;
}
.homepage .news .foods .food-box .icons .food {
    margin-right: 3px;
}
.homepage .news .foods .food-box .icons .admin {
    margin-right: 3px;
}
.homepage .news .foods .food-box .icons .comment {
    margin-right: 3px;
}
.homepage .news .foods .food-box .des .btn button{
    margin-top: 10px;
    gap: 10px;
    background-color: transparent;
    padding: 5px;
    border: none;
    border-radius: 10px;
    color: #00B207;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: left;
    text-align: left;
}
.homepage .points-field .points{
    display: flex;
    flex-direction: row;
    background-color: #FFF8F1;
    margin: auto;
}
.homepage .points-field{
    background-color: #FFF8F1;
    padding: 50px 50px;
}
.homepage .news .foods .food-box .des .btn .right{
    margin-top: 4px;
}
.homepage .points .point-container-1 .point-1 p{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 40px;
}
.homepage .points .point-container-1 .point-1 h2{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.homepage .points-field .points .point-container-1 .point-1{
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   gap: 10px;
}
.homepage .points-field .points .snacks img{
    width: 376px;
    height: 277px;
    margin: 100px auto;
}
.homepage .points-field h1{
    text-align: center;
    margin-top: 20px;
}
.link1{
    text-decoration: none;
}