@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}
.header{
    width: 100%;
}
.header .top-header{
    max-width: 100%;
    display: flex;
    padding: 10px 30px;
    background: #1A1A1A;
    color: white;
    font-size: 15px;
    justify-content: space-between;
}
.header .top-header .email {
    display: flex;
    flex-direction: row;
}
.header .top-header .prop{
    display: flex;
    flex-direction: row;
}
.header .top-header .icon{
    margin-left: 20px;
    color: white;
    font-size: 19px;
}
.header .top-header .info {
    display: flex;
    flex-direction: row;
}
.header .mid-header {
    display: flex;
    padding: 20px 40px;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    /* position: fixed;
    z-index: 20; */
    background: #fff;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.06); */
}
.header .mid-header .logo img{
    cursor: pointer;
    object-fit: cover;
}
.header .search-box input{
    padding: 12px 30px;
    outline: none;
    background: none;
    border-radius: 5px;
    width: 600px;
    border: 1px solid #C6C6C6;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.06);
}
.header .search-box {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
}
.prop .email .icon{
    margin-right: 5px;
}
.info .email .icon{
    margin-right: 5px;
}
.mid-header .links{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;    
    padding-top: 6px;
    font-weight: 500;
}
.mid-header .links li a{
    text-decoration: none;
    color: black;
}
.mid-header .drop{
    gap: 10px;
}
.user{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.user .btn-1 button{
    padding: 13px 35px;
    color: #009444;
    border: 1px solid #009444;
    border-radius: 12px;
    width: 110px;
    background-color: #fff;
    cursor: pointer;
}
.user .btn-2 button{
    padding: 13px 35px;
    color: white;
    border: 1px solid #009444;
    border-radius: 12px;
    background-color: #009444;
    cursor: pointer;
}
.search-box{
    position: relative;
    width: 500%;
    max-width: 550px; 
    margin: auto;
}
.search {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
    color: #6B6B6B; 
    font-size: 22px;
}
.search-box button{
    padding: 12px 14px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 600;
    background-color: #6B6B6B;
    border: 1px solid #6B6B6B;
    color: white;
    outline: none;
    position: relative;
    right: 10px;
    cursor: pointer;
}
.search-box button:hover{
    background: #009444;
    border: 1px solid #009444;
    color: white;
}
.search-box-1::placeholder{
    color: #6B6B6B;
}
